- MRR (Monthly Recurring Revenue)
- ARR (Annual Run Rate)
- TAS (Tasa de Adquisición de Suscriptores)
- LTV (Life Time Value)
- Churn rate
- Estatus de suscripción
- Más lo que decidas incluir

In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('payments.xlsx',sheet_name='Hoja 1 - payments (2)',index_col=0, header=1)
df = df.reset_index().set_index('id')

In [3]:
#Converting to Datetime
df['paid_at'] = pd.to_datetime(df['paid_at'],infer_datetime_format=True)
df['failed_at'] = pd.to_datetime(df['failed_at'],infer_datetime_format=True)
df['created_at'] = pd.to_datetime(df['created_at'],infer_datetime_format=True)
df['updated_at'] = pd.to_datetime(df['updated_at'],infer_datetime_format=True)
df['deleted_at'] = pd.to_datetime(df['deleted_at'],infer_datetime_format=True)
df['required_action_at'] = pd.to_datetime(df['required_action_at'],infer_datetime_format=True)
df['refunded_at'] = pd.to_datetime(df['refunded_at'],infer_datetime_format=True)
df['attended_at'] = pd.to_datetime(df['attended_at'],infer_datetime_format=True)
df['refund_pending_at'] = pd.to_datetime(df['refund_pending_at'],infer_datetime_format=True)

In [4]:
df.head()

,payable_type,payable_id,status,paid_at,failed_at,failure_reason,amount,total,created_at,updated_at,...,refund_reason_id,refund_failed_at,refund_failed_reason,payer_type,payer_id,company_id,payment_gateway_fee_amount,attended_at,payments_failed,refund_pending_at
id,,,,,,,,,,,,,,,,,,,,,
44,App\Models\Companies\Subscription,67,paid,2021-02-26 15:36:54,NaT,NaN,9900,9139,2021-02-26 15:36:54,2021-04-15 12:14:08,...,NaN,NaN,NaN,App\Models\Clients\Client,59,9,761,NaT,NaN,NaT
45,App\Models\Companies\Subscription,63,paid,2021-02-26 16:11:52,NaT,NaN,3900,3390,2021-02-26 16:11:52,2021-04-15 12:14:08,...,NaN,NaN,NaN,App\Models\Clients\Client,56,9,510,NaT,NaN,NaT
39,App\Models\Companies\Subscription,58,paid,2021-02-19 12:40:08,NaT,NaN,9900,9139,2021-02-19 12:40:08,2021-04-15 12:14:08,...,NaN,NaN,NaN,App\Models\Clients\Client,53,9,761,NaT,NaN,NaT
46,App\Models\Companies\Subscription,68,failed,NaT,2021-02-26 20:45:48,Tarjeta rechazada.,3900,3390,2021-02-26 20:45:48,2021-04-15 12:14:09,...,NaN,NaN,NaN,App\Models\Clients\Client,57,9,510,NaT,NaN,NaT
40,App\Models\Companies\Subscription,61,paid,2021-02-23 15:55:20,NaT,NaN,3900,3390,2021-02-23 15:55:20,2021-04-15 12:14:08,...,NaN,NaN,NaN,App\Models\Clients\Client,55,9,510,NaT,NaN,NaT

In [5]:
subscribed = df[df['status']=='paid']
# subscribed = subscribed.resample('M',on='paid_at').sum()
subscribed = subscribed.groupby(['company_id','paid_at'])['amount'].sum().reset_index()
subscribed = subscribed.resample('M',on='paid_at')['amount'].mean().reset_index()
subscribed

     paid_at        amount
0 2021-02-28   7500.000000
1 2021-03-31  19883.333333
2 2021-04-30  32370.804348
3 2021-05-31  28061.702128

In [6]:
subscribed=df.groupby(['company_id',pd.Grouper(key='paid_at',freq='M')])['amount'].sum()
subscribed

company_id  paid_at
9           2021-02-28      47400
            2021-03-31     341800
            2021-04-30     813100
            2021-05-31     102100
51          2021-03-31     175000
            2021-04-30     385000
            2021-05-31     210000
54          2021-03-31      79700
            2021-04-30    1780014
            2021-05-31    1006800
Name: amount, dtype: int64

In [7]:
#Monthly Recurrent Revenue

MRR = subscribed.groupby('paid_at').sum()
MRR

paid_at
2021-02-28      47400
2021-03-31     596500
2021-04-30    2978114
2021-05-31    1318900
Name: amount, dtype: int64

In [8]:
# Annual Run Rate
ARR = MRR*12
ARR

paid_at
2021-02-28      568800
2021-03-31     7158000
2021-04-30    35737368
2021-05-31    15826800
Name: amount, dtype: int64

In [11]:
# Average Revenue per User
ARPU = subscribed.groupby('paid_at').mean()
ARPU

paid_at
2021-02-28     47400.000000
2021-03-31    198833.333333
2021-04-30    992704.666667
2021-05-31    439633.333333
Name: amount, dtype: float64

In [ ]:
#Churn Rate
# Total # of Customers that Cancel / Total # of Customers (at given Month)

In [ ]:
#CLV Customer Live Value
#ARPU*churn